ion-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    display: block;
}

.work {
    font-size: 32px;
}

