ion-icon {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 320px;
    display: block;
}

.work {
    font-size: 32px;
}

